Django==2.0.2
gunicorn==19.7.1
Jinja2==2.9.6
pep8==1.7.0
psycopg2==2.7.4
pytz==2017.2
dj-database-url==0.4.2
dj-static==0.0.6
wikipedia==1.4.0
PyDictionary==1.5.2
djangorestframework==3.7.7
django-cors-headers==2.1.0
